*{
  padding: 0; 
   margin: 0;
   box-sizing: 0;
}
.hero-bg{
  background-color: aqua;
  height: 200px;
  padding: 20px;
}
h1 {
  font-size: 3rem;
  color: brown;
}
clothing {
  color: blue;
  font-size: 2rem;
}